@font-face {
font-family: 'Aachen Std Bold';
font-style: normal;
font-weight: normal;
src: local('Aachen Std Bold'), url('Aachen Std Bold.woff') format('woff');
}

body{
	margin-top: 0px;
	margin-bottom: 0px;
	align-content: center;
	text-align: center;
	background: no-repeat fixed center;
  background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.9),
      rgba(0, 0, 0, 0)
    ),
    url("../images/xv_@2X.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
	background-size: cover;
}


.h1{
	display: block;
	font-size: 50px;
	color: white;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 30px;
	background-color: black;
	}

#quiz-area, #sub-wrapper{
	font-size: 30px;
	color: white;
}

#start {
	background-color: darkred;
    font-size: 50px;
    align-content: center;
    text-align: center;
    border-radius:28px;
	border:1px solid white;
	display:inline-block;
	color:#ffffff;
	padding:15px 30px;
	margin:auto;
	position:absolute;
  right:150px;
	bottom: 200px;
}
